{%- from 'macro.heading.njk' import heading -%}

<header class="mx-auto mb-8 px-4 max-w-2xl py-12 text-center flex flex-col items-center gap-5">
  {{ heading({ slot: home.heading }) }}
  <p class="text-stone-400">
    {{ home.lead }}
    <small class="mt-5 py-1 px-3 bg-primary-500/20 text-(primary-200 xs) inline-block ring-(1 inset primary-500/20) rounded-full">{{ home.note }}</small>
  </p>
  <p class="pt-12 flex flex-wrap gap-5">
    <a href="{{ '/download/' | url }}" class="btn btn-primary btn-lg">Download <b class="icon">↓</b></a>
    <a href="https://wiki.batocera.org/install_batocera" class="btn btn-default btn-lg">Install</a>
  </p>
</header>

<article class="mx-auto px-4 max-w-4xl">
  <figure class="relative transition [&:has(:hover)]:scale-[101%]">
    <img src="/_assets/img/poster-41.jpg" alt="batocera video poster image" class="w-full aspect-video object-cover rounded-2xl" />
    <figcaption><a href="#" class="bg-black/80 flex items-center justify-center absolute inset-0 opacity-0 rounded-2xl transition hover:opacity-100"><span class="btn btn-sm bg-stone-800"><iconify-icon icon="mdi:play"></iconify-icon> Watch Trailer</span></a></figcaption>
  </figure>
</article>

<section class="pt-24 px-4 text-stone-400 space-y-6 [&_a]:(text-stone-200 font-semibold hover:(text-white underline))">
  <h2 class="divider"><span>{{ home.features.title }}</span></h2>
  <hgroup class="mx-auto pb-12 w-full max-w-md text-center flex-(& col) items-center gap-6">
    <h2 class="text-(stone-50 3xl) font-black md:text-4xl">{{ home.features.heading }}</h2>
    <p class="text-wrap-balance">{{ home.features.lead }}</p>
  </hgroup>
  <ul class="text-sm flex flex-wrap justify-center gap-6 md:gap-12">
    {%- for item in home.features.items %}
      <li class="p-px w-full max-w-xs bg-gradient-to-br from-white/10 via-primary-400/25 to-primary-700/20 flex overflow-hidden relative rounded-2xl shadow-(2xl stone-950/75) transition duration-500 hover:-translate-y-2">
        <div class="p-5 bg-stone-900/50 grow relative rounded-2xl after:(z-[-1] content-[''] rounded-[inherit] absolute inset-0 bg-(tron cover center) [mask-image:radial-gradient(circle_at_top,rgba(0,0,0,1),rgba(0,0,0,0)_75%)])">
          <iconify-icon icon="{{ item.ico }}" class="mx-auto w-16 h-16 bg-zinc-950/50 text-(primary-900 [3rem]) flex items-center justify-center rounded-full shadow-[0_0_0_1px_rgba(0,0,0,.5),inset_0_1px_0_rgba(255,255,255,.15),inset_0_-1px_0_rgba(255,255,255,.05)]"></iconify-icon>
          <h2 class="mt-6 mb-4 px-3 py-0.5 bg-accent-500/20 text-(accent-400 xs) font-semibold inline-block ring-(1 accent-500/50) rounded-full">{{ item.title }}</h2>
          {{ item.desc | md | safe }}
        </div>
      </li>
    {%- endfor %}
  </ul>
</section>
