---
layout: false
title: Documentation
tags:
  - main
  - sitemap
permalink: false
link: https://wiki.batocera.org/
eleventyComputed:
  eleventyNavigation:
    order: 2
    category: Help
    key: "{{ title }}"
---
